<div id="auction">
  <h2><%= @auction.description %></h2>
  <div style="float:left" id="nice">
  <p><b>Current Price:</b> <%= number_to_currency @auction.current_price %><br>
    <b>Total Bids:</b> <%= number_with_delimiter @auction.total_bids %><br>
    <b>Status:</b> <%= status(@auction.status) %><br>
    <%= link_to "View Auction", @auction.url %><br>
  </p>
  </div>

  <div style="float:right; width:50%">
      <%= link_to 'Edit Auction', edit_auction_path(@auction), :class => "btn btn-primary" %> <button class="btn btn-danger">Cancel Auction</button>
  </div>
  <div style="clear:both"></div>
  <hr/>

  <h3>Auction History</h3>
  <!-- <div>
    <h4>My Stats</h4>
    <table class="table table-bordered table-striped table-condensed" style="width:70%">
      <thead>
        <th>Bids Placed</th>
        <th>Bids Left</th>
        <th>Exit Now Price</th>
        <th>Last Bid Date</th>
      </thead>
      <tbody>
        <tr>
          <td>50</td>
          <td>40</td>
          <td>$70.25</td>
          <td>Now</td>
        </tr>           
      </tbody>
    </table>
  </div> -->

  <div >
    <h4>Top Bidders</h4>
    <table class="table table-bordered table-striped table-condensed" style="width:70%">
      <thead>
        <th>Bidder</th>
        <th>Total Bids</th>
        <th>Last Bid Time</th>
      </thead>
      <tbody>
        <% @most_active_bidders.each do |bidder| %>
        <tr>
          <td><%= bidder.username %></td>
          <td><%= bidder.total_bids %></td>
          <td><%= format_time(bidder.bid_time) %></td>
        </tr>
        <% end %>          
      </tbody>
    </table>
  </div>

  <div>
    <h4>Last 5 Bidders</h4>
    <table class="table table-bordered table-striped table-condensed" style="width:70%">
      <thead>
        <th>Bidder</th>
        <th>Total Bids</th>
        <th>Last Bid Time</th>
      </thead>
      <% @last_active_bidders.each do |last| %>
        <tr>
          <td><%= last.username %></td>
          <td><%= last.total_bids %></td>
          <td><%= format_time(last.bid_time) %></td>
        </tr>      
      <% end %>
      <tbody>
        <!-- <tr>
          <td>Joker4life</td>
          <td>500</td>
          <td>Now</td>
        </tr>
        <tr>
          <td>Joker4life</td>
          <td>500</td>
          <td>Now</td>
        </tr>
        <tr>
          <td>Joker4life</td>
          <td>500</td>
          <td>Now</td>
        </tr>    -->         
      </tbody>
    </table>
  </div>
  <%= link_to 'Back To Auction List', auctions_path, :class => "btn" %><br><br>
</div>